 #main {
  .main-tit {
    padding: 50px;
    text-align: center;
  }
   // Slider
   .slider {
     position: relative;
   }
   .slide {
     height: 750px;
    background: center center / cover no-repeat;
   }
   .btn-prev, .btn-next {
      position: absolute;
      top: 50%;
      margin-top: -20px;
   }
   .btn-prev {
      left: 0;
      margin-left: 40px;
   }
   .btn-next {
      right: 0;
      margin-right: 40px;
   }

   .fade-transition {
     position: absolute;
     transition: all 0.8s ease;
     overflow: hidden;
     visibility: visible;
     opacity: 1;
   }
   
   .fade-enter, .fade-leave {
     opacity: 0;
     visibility: hidden;
   }

   // Menu
   .list-menu {
     padding: 0 70px 70px;
     background: #f3f3f3;
   }

   // ImageLink
  .image-link {
    position: relative;
    height: 500px;
    background-color: azure;
    .btn-link {
      position: absolute;
      top: 200px;
      right: 70px;
    }
   }
 }
 