// todo - reset scss 가져오기;
ul {
  list-style: none;
  padding: 0; // 왜 디폴트로 40이 잡히는가??
}
a {
  text-decoration: none;
}
.screen_out {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}


#main {
  .ico_nuxtudy {
    display: inline-block;
    line-height: 0;
    text-indent: -9999px;
    background-repeat: no-repeat;
    vertical-align: top;
  }
  
  header {
    overflow: hidden;
    position: relative;
    padding: 0 10px;
    border-bottom: 1px solid #dadada;
    box-sizing: border-box;
    h1 {
      float:left;
    }
  }
  
  .btn_logo {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    background-image: url('../../img/main/logo_mamamini_bl.png');
    background-size: 80px 80px;
  }
  
  nav {
    float: left;
  }
  
  // GNB
  .list_gnb {
    overflow: hidden;
    
    li {
      float: left;
      a {
        display: inline-block;
        height: 80px;
        margin: 0 20px;
        color: rgba(0, 0, 0, 0.76);;
        text-align: center;
        font-weight: bold;
        line-height: 80px;
        box-sizing: border-box;
        vertical-align: top;
        &:hover {
          border-bottom: 2px solid tomato;
        }
      }
    }
    .on {
      a {
        color: tomato;
        border-bottom: 2px solid tomato;
      }
    }
  }

  .btn_lang {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-indent: 0;
  }

  article {
    h3 {
      padding: 20px 0;
      font-size: 20px;
      text-align: center;
    }
  }
  
  // 메인 배너
  .cont_bnr {
    position: relative;
    height: 600px;
    .list_bnr {
      overflow: hidden;
      width: 400%; // todo: 데이터갯수에 맞게 변수화
      li {
        float: left;
        width: 25%; // todo: 데이터갯수에 맞게 변수화
        height: 100%; 
        background-size: cover;
        img {
          width: 100%;
          height: 600px;
        }
      }
    }
    .list_idx {
      position: absolute;
      overflow: hidden;
      left: 50%;
      bottom: 0;
      margin-left: -80px;

      button {
        float: left;
        display: block;
        margin: 10px 5px;
        width: 30px;
        height: 5px;
        border: none;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.76);
        text-indent: -9999px;
        &:hover {
          background: tomato;
        }
        &.on {
          background: tomato;
        }
      }
    }
  }

  // 예약조회
  .cont_reserve {
    height: 400px;
  }

  // 정보
  .cont_info {
    height: 400px;
    background: #dadada;
  }

  // Tip
  .cont_tip {
    padding: 30px;
  }
  .list_tip {
    display: flex;
    flex-direction:row;
    justify-content: center;
    li {
      width: 25%;
      height: 350px;
      margin: 0 5px;
      border: 1px solid rgba(0, 0, 0, 0.76);
      border-radius: 20px;
      background-size: cover; // todo: 우선순위 어디서 밀림..?
      background-repeat: no-repeat;
    }
  }

  // footer
  footer {
    overflow: hidden;
    padding: 10px 40px;
    height: 150px;
    background: darkslategray;
    .list_footer {
      float: left;
      margin-right: 30px;
    }
    a {
      display: inline-block;
      margin: 5px 0;
      color: #fff;
      vertical-align: top;
    }
  }
}
