 #main {
   // Slider
   .slider {
     position: relative;
   }
   .slide {
     height: 600px;
     background-size: 50% 50% cover;
     background-repeat: no-repeat;
   }
   .btn-prev, .btn-next {
      position: absolute;
      top: 50%;
      margin-top: -20px;
   }
   .btn-prev {
      left: 0;
      margin-left: 20px;
   }
   .btn-next {
      right: 0;
      margin-right: 20px;
   }

   .fade-transition {
     position: absolute;
     transition: all 0.8s ease;
     overflow: hidden;
     visibility: visible;
     opacity: 1;
   }
   
   .fade-enter, .fade-leave {
     opacity: 0;
     visibility: hidden;
   }

   // Menu
   .list-menu {
     padding: 70px;
     background: #f3f3f3;
   }

   // ImageLink
  .image-link {
    position: relative;
    height: 500px;
    background-color: azure;
    h2 {
      padding: 50px;
      text-align: center;
    }
    .btn-link {
      position: absolute;
      top: 200px;
      right: 70px;
    }
   }
 }
 